body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;

}

.form-container{
    width: 500px;
   }

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

form+p{
    text-align: center;
}